body {
  background: $color-gray-95;
  color: $color-gray-20;
}

@media all and (min-width: $six-hundred) {

  .main {
    padding: 0 $column * 1.5;
  }
}
@media all and (min-width: $eight-hundred) {

  .main {
    padding: 0 $column 0 $column * 2;
  }
}
@media all and (min-width: $nine-hundred) {

  .main {
    width: $column * 19 * 1.103;
  }
  .overflow-container {
    padding: 0;
  }
}