.site-header {
  background: white;
  padding: $baseline-height $column * 1.5;
  margin-bottom: $baseline-height * 2;
  box-shadow: 0 1px 2px 0 $color-gray-91;
}
.menu-primary-container {
  margin: 0;
}
.title-container {
  margin: 0 auto $baseline-height;
}
.toggle-navigation {
  margin: 0 auto;
}

@media all and (min-width: $eight-hundred) {

  .site-header {
    padding-top: $baseline-height * 2;
  }
  .title-container {
    margin-bottom: $baseline-height;
  }
}