.entry {
  position: relative;
  background: white;
  margin: $baseline-height 0;
  box-shadow: 0 1px 2px 0 $color-gray-85;
}
.post-container {
  padding: $baseline-height * 1.5 $column * 1.5 * 1.103 0;
}
.post-header {
  margin-top: 0;
}
.post-date {

  &:after {
    content: '/';
    margin: 0 4px;
  }
}
.post-content {
  margin-bottom: 0;
}

@media all and (min-width: $six-hundred){

  .entry {
    padding: 0;
  }
}

@media all and (min-width: $nine-hundred) {

  .post-title {
    font-size: 1.75em;
    line-height: 1.321;
  }
}